* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 100px;
    background-color: #7D0020;

   

}
body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
main{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
footer{
    background-color: #7D0020;
    text-align: center;
    width: 100%;
    color: white;
    
 
}
.logo{
    height: 100px;
    width: auto;
}
.box{
    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    
    /**É para organizar as insides**/
}
.box2{
    margin: 20px;
    margin-top: 30px;
    height: 150px;
    width: 1300px;
    background-color:#7D0020;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.box3{
    height: 200px;
    width: 1350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.insidee{
    height: 450px;
    width: 620px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    padding:15px;
    transition:color 0.5s ease;
    transition: all 0.5s ease;
   
}
.insidee:hover{
    scale: 1.03;
    color: #ff0000;
}
.insided{
    height: 450px;
    width: 620px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
   

}
.l3{
    height: 90px;
    width: 625px;
    border-bottom: 2px solid;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition:color 0.5s ease;
    transition: all 0.5s ease;
   
}
.insidee img{
    height: 320px;
    width: 530px;
    border-radius: 15px;
}
.up1{
    height: 140px;
    width: 620px;
    border-bottom: 2px solid ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition:color 0.5s ease;
    transition: all 0.5s ease;
   
}
.up1:hover{
    scale:1.05;
    color: #ff0000;

}
.up1 img{
    height: 120px;
    width: 120px;
    border-radius: 15px;
}
.box2 img{
   height: 150px; 
   width: 300px;
}
.l3 img{
    height: 80px;
    width: 120px;
    border-radius: 15px;
   
}
.l3:hover{
    scale: 1.05;
    color: #ff0000;
}
